! xft behavior
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xcursor.theme: phinger-cursors
Xcursor.size: 32
Xft.dpi: 96

! window padding
st.borderpx: 16

! terminal
st.font:           cherry:size=11

!!!!!!!!!!!!!!!!!
!! colorscheme !!
!!!!!!!!!!!!!!!!!

! special
*.background:   #00040a
*.foreground:   #e1e9f5
*.cursorColor:  #e1e9f5

! black
*.color0:       #050b14
*.color8:       #0f161f

! red
*.color1:       #ed6c5f
*.color9:       #ed6c5f

! green
*.color2:       #77ed9e
*.color10:      #77ed9e

! yellow
*.color3:       #ffa866
*.color11:      #ffa866

! blue
*.color4:       #749dfc
*.color12:      #749dfc

! magenta
*.color5:       #f78fe6
*.color13:      #f78fe6

! cyan
*.color6:       #68dde8
*.color14:      #68dde8

! white
*.color7:       #c5d1e0 
*.color15:      #d3ddeb
